<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<div class="row row-cols-1 row-cols-lg-3">
  <% @plants.each do |plant| %>
    <div class="col mb-4">
      <div class="card h-100">
        <%= link_to image_tag('plant_default', width: '100%'), plant %>
        <div class="card-body">
          <h3 class="card-title">
            <i><%= plant.botanical_name %></i>
          </h3>
          <p class="card-text">
            <p>
              <h6 class="text-muted"><%= plant.common_name %></h6>
            </p>
            <p>
              <% plant.tag_list.each do |tag_name| %>
                <a class="btn btn-dark btn-sm" href="#" role="button"><%= tag_name %></a>
              <% end %>
            </p>
            <p>Sunlight: <i class="text-muted"><%= plant.sunlight %></i></p>
            <p>Water: <i class="text-muted"><%= plant.water %></i></p>
            <p>Soil: <i class="text-muted"><%= plant.soil %></i></p>
          </p>
          <%= link_to 'Details', plant, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col mb-4">
    <div class="card h-100">
      <%= image_tag('plant_default', width: '100%') %>
      <div class="card-body">
        <h3 class="card-title">
          There is always room for more!
        </h3>
        <p class="card-text">
          <p>
            <h6 class="text-muted">Add a new plant to your collection?</h6>
          </p>
          <%= link_to 'New Plant', new_plant_path, class: "btn btn-success" %>
        </p>
      </div>
    </div>
  </div>
</div>
