<p id="notice"><%= notice %></p>

<p>
  <strong>Plant:</strong>
  <%= @data_observation.plant&.botanical_name %>
</p>


<p>
  <strong>Type:</strong>
  <%= @data_observation.type %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @data_observation.reading %>
</p>

<%= link_to 'Edit', edit_data_observation_path(@data_observation) %> |
<%= link_to 'Back', data_observations_path %>
