<p id="notice"><%= notice %></p>

<h1>Waterings</h1>

<table>
  <thead>
    <tr>
      <th>Plant</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waterings.each do |water| %>
      <tr>
        <td><%= water.plant_id %></td>
        <td><%= water.amount %></td>
        <td><%= link_to 'Show', water %></td>
        <td><%= link_to 'Edit', edit_water_path(water) %></td>
        <td><%= link_to 'Destroy', water, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water', new_water_path %>
