<p id="notice"><%= notice %></p>

<p>
  <strong>Plant:</strong>
  <%= @water.plant_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @water.amount %>
</p>

<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waterings_path %>
